[2021-05-21 10:19] wellyshen opened #23 "🤔 Who uses React Cool Virtual?"
**👋🏻 Hi guys, this is Welly from Taiwan. I spend a lot of time in this library. I'd love to know which companies are using this library for their product(s) so I can mention you in the [README](https://github.com/wellyshen/react-cool-virtual/blob/master/README.md).**

Please share the following information with me:
- Company name (might be used in the README or website etc.)
- Company logo (might

[2021-06-15 03:03] wansaleh opened #144 "How to use react-cool-virtual on window? (Not on scroll containers like in the examples)"
Hi. Thanks for this awesome virtualization library.

However I couldn't found an example detailing usage on a window. Something like the [windowscroller](https://github.com/bvaughn/react-virtualized/blob/master/docs/WindowScroller.md) in react-virtualized.
Can you explain/provide example on how to use react-cool-virtual on a window instead of a scroll container with an `outerRef`?

Best regards.

[2021-06-15 08:28] wellyshen commented on #144
@wansaleh I'm sorry this hook hasn't supported the feature yet. I will let you know when it's supported.

[2021-06-15 08:29] wansaleh commented on #144
Thank you so much for the clarification!

[2021-06-17 17:06] phaistonian opened #146 "Items is [] when the component refreshes"
It seems that when you mount/unmount the component and the `itemCount` does not change the `items` is [] (after the first time).

A hacky way out of it is to do something like `itemCount: myCount + Math.round(Math.random() * 100)` and filter later.

In other words, some kind of check takes place based on the `itemCount` that causes cache-related (I presume) issues.

[2021-06-17 17:39] phaistonian opened #147 "New option: scrollToTopOnChange"
The title explains it :)

When the `itemCount` changes, i.e. when new items are passed, the optionally (or by default) `scrollTo(0)` should be invoked.

Ps: what I do now is a `useEffect`.

[2021-06-17 17:59] wellyshen commented on #147
@phaistonian Great idea but the **reset to top** can't be a default option, because of the case of [lazily loading](https://github.com/wellyshen/react-cool-virtual#working-with-a-loading-indicator) will be influenced. Can you share your use case with me? I need more information for the feature.

[2021-06-17 18:04] wellyshen commented on #146
@phaistonian Thank you, I will investigate it soon.

[2021-06-17 18:16] phaistonian commented on #147
Say you are filtering a list of items based in user input and you have scrolled down to the previous list.

Since the list updates you should have the scroll position move to too.

[2021-06-17 18:23] wellyshen commented on #147
@phaistonian Okay, it makes sense. Will add this feature soon.

[2021-06-17 18:34] wellyshen commented on #146
@phaistonian Can you give me a minimal reproduced code or [CodeSandbox](https://codesandbox.io) for this issue?

[2021-06-17 20:16] phaistonian commented on #146
it's 11pm down here as well (Greece).

Will see to it tomorrow.

Thank you.

[2021-06-17 20:45] phaistonian commented on #146
Here's a video that will probably indicate the issue.

It seems this is state-related.

https://user-images.githubusercontent.com/796530/122469768-ff14eb00-cfc5-11eb-841f-0d6a529cd0af.mp4

[2021-06-18 06:04] wellyshen commented on #146
@phaistonian I tried to reproduce your case but I can't make it. Did I miss something? Here's the [CodeSandbox](https://codesandbox.io/s/practical-stallman-kilji).

https://user-images.githubusercontent.com/21308003/122514174-1b546e80-d03e-11eb-9e88-2daecae6770a.mov

[2021-06-18 06:14] phaistonian commented on #146
Indeed, it does work in this - super similar scenario.

I am not sure what the issue is, to be honest.

If you want we can have a zoom call  (or have a quick chat) to illustrate the issue — I am afraid I can't share the repo publicly.

[2021-06-18 06:17] wellyshen commented on #146
@phaistonian Would you mind to simulate your scenario with a CodeSandbox for me?

[2021-06-18 06:19] phaistonian commented on #146
I will need some time and these days are hectic, plus, this scenario is pretty much identical to what you did.

Does the following help at all?
![CleanShot 2021-06-18 at 09 18 38@2x](https://user-images.githubusercontent.com/796530/122515522-3ca16480-d016-11eb-9b34-93ea69242745.png)

[2021-06-18 06:24] wellyshen commented on #146
@phaistonian Can you check the `itemsFiltered.length` when there's no filter applied. This hook returns empty `items` when the `itemCount` option is falsy.

[2021-06-18 06:31] phaistonian commented on #146
That's not the issue :(

https://user-images.githubusercontent.com/796530/122516823-e9c8ac80-d017-11eb-9c2c-5b65926b9d8f.mp4

[2021-06-18 06:35] wellyshen commented on #146
@phaistonian Got it, I think we need a reproduced environment for debugging, plz take your time to prepare it for me. I will think about this case at the same time.

[2021-06-18 06:36] phaistonian commented on #146
I can give you access to my system (with AnyDesk or something) to take a look.

That would speed things up.

Wanna go that way?

[2021-06-18 06:43] wellyshen commented on #146
@phaistonian Yes you can invite me, but I might check it now maybe later. I think I know your case just not quite sure. If you wrap this hook with render items into a component, I think it might solve your issue.

[2021-06-18 06:47] phaistonian commented on #146
I _sense_ this will solve this too — but this a hack.

[2021-06-18 06:48] wellyshen commented on #146
@phaistonian How about put the items length as a state?

[2021-06-18 06:53] phaistonian commented on #146
Tried it.

That's not it either.

[2021-06-18 06:54] wellyshen commented on #146
@phaistonian Plz invite me, I will take time to investigate it.

[2021-06-18 06:58] phaistonian commented on #146
Let's try whereby https://whereby.com/thebestco

[2021-06-18 07:30] wellyshen commented on #146
@phaistonian Plz give me the permission to check the code. It will be helpful.

[2021-06-18 08:42] wellyshen commented on #146
It's like a video chat mate. Do you think we should have a reproduced CodeSandbox here? It can help others as well.

[2021-06-18 09:01] phaistonian commented on #146
@wellyshen  Will try to make some time to do it later.

[2021-06-18 09:05] wellyshen commented on #146
@phaistonian Okay, I will check once you provide it.

[2021-06-18 10:29] #147 closed

[2021-06-18 10:31] wellyshen commented on #147
@phaistonian Thank you for this idea. This feature will be released tonight.

[2021-06-18 10:32] phaistonian commented on #146
So, here's how I _fixed_ it.

- Changing the `itemCount` in any way, fixes this issue.
- Used a pseudo flag (`isLoading`) to switch from zero to the actual count.
- I still think this is sort of buggy - perhaps some `useEffect` or `useLayoutEffect` is acting up

I will try and get a better look later.

![CleanShot 2021-06-18 at 13 31 26@2x](https://user-images.githubusercontent.com/796530/12254803

[2021-06-18 10:38] wellyshen commented on #146
@phaistonian Yes, this hook use `useLayoutEffect` for handling the `itemCount`. However `useLayoutEffect` is called before  `useEffect`. Can you help to double-check it?

[2021-06-18 11:12] phaistonian commented on #146
Yes - I did confirm it.

If the itemCount remains the same, it's as if it's treated as zero.

Will try and bundle your code to a js file to see where exactly the issue is (bundle from .ts to js).

[2021-06-18 11:19] wellyshen commented on #146
@phaistonian I need your reproduced case, if you can provide it via CodeSandbox, it will be super helpful.

[2021-06-18 12:28] phaistonian commented on #146
Got it.

![CleanShot 2021-06-18 at 15 26 50@2x](https://user-images.githubusercontent.com/796530/122560732-a38c4100-d049-11eb-8d09-48583ba5d669.png)

The dependencies to the effect do not change and so this effect is not invoked and so the `handleScroll` method (nested in the event) is also not called.

My guess is that you need to introduce another dependency that will be reset on unmount (`useEf

[2021-06-18 12:43] phaistonian commented on #146
![CleanShot 2021-06-18 at 15 42 52@2x](https://user-images.githubusercontent.com/796530/122562605-ed762680-d04b-11eb-9c9c-8793d8bf92c6.png)

[2021-06-18 13:40] wellyshen commented on #146
@phaistonian We can't pass the refs to the dependencies they will always trigger the effect function. What I want to know is under what kind of scenario that the effect function won't be triggered, that's why I need your help for the reproduced code through CodeSandbox, once I have the reproduced environment, I can solve this problem.

[2021-06-18 13:42] phaistonian commented on #146
I really can't get it on Codesandbox - it's part of our work repo. Plus decoupling it will take tons of time :(

I might be able to try it on the weekend, can't promise it tho.

[2021-06-18 13:44] wellyshen commented on #146
@phaistonian Okay, no problem. All I need is the reproduce circumstance not your business code lol.

[2021-06-18 14:07] wellyshen commented on #146
@phaistonian The `items` only update when the `itemCount` changed, and this also how [React.useEffect](https://reactjs.org/docs/hooks-reference.html#conditionally-firing-an-effect) works. So the same `itemCount` won't trigger the updating of `items`. But what I don't understand is why your get the empty list?

[2021-06-29 16:49] wellyshen commented on #146
@phaistonian You can try the latest version of this package to see if this issue still exists or not. If it still exists, leave a reproduce code via CodeSandbox, I will fix it soon.

[2021-06-29 18:01] phaistonian commented on #146
@wellyshen  will do :-) Thanks

[2021-07-02 12:32] Visualizeit opened #170 "Flicker in blitzjs project (with React v18)"
# Bug Report

## Describe the Bug

In the blitzjs project, the list items appear to flicker when scrolling

## How to Reproduce
Go to codesandbox and scroll down the list

## CodeSandbox Link

https://codesandbox.io/s/romantic-bhabha-3d6wv?file=/app/pages/index.tsx

## Screenshots

https://user-images.githubusercontent.com/61679509/124274890-67da9680-db74-11eb-8c43-3f677608a6dc.mp4

## Your Enviro

[2021-07-02 14:30] wellyshen commented on #170
@Visualizeit Thank you for reporting this issue, will take time to investigate it.

[2021-07-03 08:27] wellyshen commented on #170
@Visualizeit This issue comes from React v18. However, v18 is not stable yet.  I'd recommend you to use the latest [stable version](https://reactjs.org/versions) of React for now. I will re-check this issue when React v18 is officially released.

[2021-07-06 10:04] Visualizeit commented on #170
@wellyshen okay, thank you

[2021-07-06 10:23] subblue opened #176 "scrollToItem not resolving with dynamic height items"
# Bug Report

Before I get to the bug details I would first like to say how impressed I've been with using this library so far.
It is straight-forward, well documented and I really like how the implementation doesn't make assumptions on the way to use your components.
Thanks for the time and effort you have put into this! 💯

## Describe the Bug

I have a content panel with a long list of variable

[2021-07-06 10:29] wellyshen commented on #176
@subblue Thank you for reporting this issue, your information really helpful, will fix it soon.

[2021-07-07 06:00] crapthings opened #178 "work with react-use-gesture and react-spring?"
i'm trying to build a scrollable container with horizontal direction, will react-cool-virtual work with react-use-gesture and react-spring?

[2021-07-07 08:37] wellyshen commented on #176
@subblue This issue will be fixed alongside the next release, stay tune!

[2021-07-07 08:37] #176 closed

[2021-07-07 08:39] wellyshen commented on #178
@crapthings I have not to test with them yet but you can try it. If any issues with this library, I am willing to help out.

[2021-07-07 08:39] #178 closed

[2021-07-18 09:02] karanmartian opened #195 "How to do Full Screen Infinite loader that is driven by the main browser vertical scroll bar?"
Hey,
This is a super cool hook. But the examples that are given are only of scrolling inside some kind of a fixed window frame with outer and inner refs.

I am trying to load more items when the user scrolls down using the main vertical scrollbar of the browser window. This is very critical to my Newsfeed application. How can this be done? Can you provide an example?

[2021-07-18 09:12] wellyshen commented on #195
@karanmartian Thank you for giving it a try. What you mentioned is called _window scroll_. However, this hook doesn't support that yet. That will be implemented in the near future, stay tuned. Please refer to #144.

[2021-07-18 09:12] #195 closed

[2021-07-18 09:15] karanmartian commented on #195
@wellyshen this is a really important feature. How long will it take to enable this feature? Can you provide any directions to change the source code of this hook to enable this?

[2021-07-18 09:20] wellyshen commented on #195
@karanmartian It takes time to implement. If you are eager to use that, you can use [react-virtualized](https://github.com/bvaughn/react-virtualized) atm.

[2021-07-22 14:09] crapthings opened #204 "Lost sticky header?"
https://streamable.com/v6ad13

as you can see the sticky header doesn't work expected

[code]

[2021-07-22 14:34] crapthings commented on #204
maybe the _stickyIndices.push(parseInt(itemIdx)) is wrong, i will try to fix it

[2021-07-22 14:40] crapthings commented on #204
i've used wrong stickyIndices.

[2021-07-22 14:40] #204 closed

[2021-08-09 17:12] meotimdihia opened #220 "Feature Request: support window scrolling + scroll restoration."
# Feature Request

This lib looks totally promising. I want to use this library on my website.
But it missed the 2 most important features: window scrolling + scroll restoration when navigating back.
I tried https://virtuoso.dev/ but it doesn't work with scroll restoration.

Other libraries are hard to use and buggy. I spent 2-3 days learn react-window + virtuoso, and disappointed 😥
Also, I hope y

[2021-08-12 15:35] meotimdihia commented on #220
Thanks for the answer. Virtuoso is supported this too. I don't know why but it doesn't work in my next.js app.

And I don't test react-cool-virtual yet. The package doesn't support windows scroll currently.

[2021-08-12 17:35] fourteenmeister opened #224 "App crashes when scrolling with drag bar"
In **[this example](https://codesandbox.io/s/rcv-dynamic-size-0wurg?fontsize=14&hidenavigation=1&theme=dark)** when you try to scroll with the mouse, the page freezes and crashes.

Maybe this is mine alone?

[2021-08-13 00:35] wellyshen commented on #224
@fourteenmeister Does it occur on the CodeSandbox?

[2021-08-13 08:06] fourteenmeister commented on #224
CodeSandbox

[2021-08-13 08:06] fourteenmeister commented on #224
CodeSandbox

[2021-08-13 09:31] wellyshen commented on #224
@fourteenmeister Can you tell me your environment and package versions that you are using on the CodeSandbox?

[2021-08-13 10:32] fourteenmeister commented on #224
so in this example everything is indicated
![image](https://user-images.githubusercontent.com/3837141/129344367-9cc07088-b83c-41fe-898d-e733945080f0.png)

[2021-08-13 10:54] fourteenmeister commented on #224
recorded a demo

![Peek 2021-08-13 13-52](https://user-images.githubusercontent.com/3837141/129346663-29d2cb3e-8ce8-4e07-a947-fcff3efc8462.gif)

[2021-08-13 11:29] wellyshen commented on #224
@fourteenmeister What browser that you are using?

[2021-08-13 12:05] fourteenmeister commented on #224
chrome  92.0.4515.131

[2021-08-14 03:57] wellyshen commented on #220
@meotimdihia Got it. The logic of window scrolling is much different from container scrolling. I'm still thinking about the architecture for that, it might not be supported atm.

[2021-08-14 03:59] wellyshen commented on #224
@fourteenmeister Thank you, I can reproduce it, will fix it soon. For now, you can enlarge the [itemSize](https://github.com/wellyshen/react-cool-virtual#itemsize) to avoid this issue.

[2021-08-15 12:41] crow7m commented on #146
Hi, thank you for the great library. was the issue with itemCount fixed  ? thank you

[2021-08-16 15:01] #224 closed

[2021-08-17 13:35] wellyshen commented on #224
@fourteenmeister This issue should be fixed in [v0.4.6](https://github.com/wellyshen/react-cool-virtual/releases/tag/v0.4.6), thanks.

[2021-08-17 13:39] fourteenmeister commented on #224
Excellent! Thanks for the quick fix

[2021-08-24 04:05] nikitapilgrim opened #230 "reverse infinity scroll"
Hi, thanks for the library. Need an example with infinite scrolling up

[2021-08-30 08:43] #230 closed

[2021-08-30 08:45] wellyshen commented on #146
@crow7m Have you encountered the issue?

[2021-08-30 12:40] dehmer opened #235 "Problem with relative height (100%) container (outerRef)"
First things first: Congratulations on the well designed interface! It was easy as pie to integrate useVirtual() with my existing list. Well done!

# Bug Report

## Describe the Bug

* List contains items with variable (but fixed) heights.
* Container (outerRef) has **relative height of 100%**. Necessary to scale list height with window height (Electron Application).

## How to Reproduce

When scr

[2021-08-30 13:05] dehmer commented on #235
BTW: For container with absolut height, useVirtual() pretty much works as expected. There are a few minor issue, I will attack later.

And here's the CSS I'm using (I'm not an expert in this field):

[code]

[2021-09-02 06:59] dehmer commented on #235
@wellyshen OK, I'll try. Never used CodeSandbox or similar.
The one other issue is, that the last (focused) item in the list is most times not completely visible.
That scrollbar is 'jittering' because of different counts or height estimation is expected and a non-issue for me.

Thanks, and I get back to you as soon as I have something to show on CodeSandbox.

[2021-09-02 08:28] wellyshen commented on #235
@dehmer Thank you I will check it as soon as the reproduced code is provided.

[2021-09-02 09:08] dehmer commented on #235
@wellyshen Wow! CodeSandbox was quite a nice experience.
The result is consistent with the issue described here. Roughly the same behavior for Safari and Chrome (with Electron/Chrome being the target platform).

CodeSandbox: https://codesandbox.io/s/white-glade-xnu3u

Thank for looking into It!

[2021-09-02 11:13] nikitapilgrim opened #239 "dynamic stickyIndices"
stickyIndices must be dynamic. A good example of a chat room where the date should always be updated is

https://github.com/wellyshen/react-cool-virtual/pull/231

[2021-09-03 01:14] wellyshen commented on #235
@dehmer You need to give the outer element a "height" property.  Moreover, for [dynamic size](https://github.com/wellyshen/react-cool-virtual#dynamic-size), we can use `measureRef` to gradually measure each item. Here's the [fixed version](https://codesandbox.io/s/trusting-firefly-s74h6?file=/src/List.js) of the example.

[2021-09-03 08:24] dehmer commented on #235
@wellyshen Thanks you very much! `height: inherit` does the trick! `measureRef` I simply forgot and works well too.

I'm closing this issue as fixed.

I have another issue with `items` array overshooting (more entries than the actual entry list), but I will file another issue for this, when I can reproduce in CodeSandbox.

In the meantime, I try to workaround this issue by returning `null` in this

[2021-09-03 08:24] #235 closed

[2021-09-03 08:26] wellyshen commented on #235
@dehmer No problem mate, thank you for letting this library getting better than better.

[2021-09-03 10:00] #239 closed

[2021-09-03 13:40] dehmer opened #243 "Option for (real) fast scrolling (aka immediate jump)"
# Feature Request

## Describe the Feature

Is it possible to achieve more or less immediate scroll/jump to item with index?
It would be ideal to scroll fast from top to bottom (or anywhere in-between) and back.
Note: Scrolling from bottom to top already behaves like expected.

## Describe the Solution You'd Like

It would be nice, if scrollToItem() would resemble [Element.scrollIntoView()](https:

[2021-09-03 13:49] dehmer commented on #243
Sorry, I forgot to mention, that **variable height** items are imperative for our usage scenarios.
I can imagine that this poses an additional challenge. - Or makes it impossible to achieve.

[2021-09-04 07:04] wellyshen commented on #243
@dehmer Remove the `max-height: 0` property from the `list` class then try it again.

[2021-09-04 08:23] dehmer commented on #243
@wellyshen Sweet Jesus! You're the man!
This was a leftover workaround from before I found `height: calc(100vh - 20em)` to adjust panel heights with window.
Like I've said, I'm a CSS noob.

BTW: This fixes also the issue that scrollbar size was permanently adjusted while scrolling.

I think, we are pretty close of putting your excellent hook into production.
This would relief us of a major headach

[2021-09-04 08:23] #243 closed

[2021-09-04 08:55] wellyshen commented on #243
@dehmer Thank you for trusting my package and put it in production mate.

[2021-09-05 05:40] dehmer opened #244 "TypeError: Cannot read property 'start' of undefined"
# Bug Report

## Describe the Bug

Abstract list components receives rows as props. useVirtual() is used in this component.
Filtering (i.e. truncating) rows in parent component leads to `TypeError: Cannot read property 'start' of undefined`,
but only if original/longer list was scrolled down a page or so before filtering.

## How to Reproduce

Steps to reproduce the behavior, please provide code s

[2021-09-05 06:23] dehmer commented on #244
Because I wanted to create an animated GIF from screen for a long time.
Besides that, it only shows that if empty list is unmounted between long and short list, the error naturally does not occur.
Probably not very helpful...

[code]

![issue#244](https://user-images.githubusercontent.com/322462/132117573-f924527f-2679-43ab-aeb6-dadfe9747eeb.gif)

[2021-09-06 04:09] #244 closed

[2021-09-06 04:12] wellyshen commented on #244
@dehmer Thank you, the fixing will be released in [v0.5.1](https://github.com/wellyshen/react-cool-virtual/releases/tag/v0.5.1)

[2021-09-06 05:56] dehmer commented on #244
Thanks! I will give it a spin and report back.

[2021-09-06 06:00] wellyshen commented on #244
@dehmer It has be released, thanks mate.

[2021-09-06 09:48] dehmer commented on #244
@wellyshen 👍 Looks pretty damn good!
And thanks for the quick fix!

Two question though
A. Can you confirm that 'overshooting' still happens and returning `null` in this case is advised?
B. Taking list model from props (entries, rows or whatever) is OK, no need for local `useState(props.row)`?

[2021-09-06 10:07] wellyshen commented on #244
@dehmer

- For A. I don't need the logic of `overshooting` when I was reproducing this issue locally.
- For B. We don't need the local state.

[2021-09-06 10:13] dehmer commented on #244
Hmm, OK thanks. I will have a closer look regarding overshooting.

[2021-09-06 10:33] dehmer commented on #244
@wellyshen Exception is gone, but overshooting still happens in my updated CodeSandbox: https://codesandbox.io/s/keen-thunder-e0f5m

[2021-09-06 11:18] wellyshen commented on #244
@dehmer It's because the `rows` prop is updated before the item's `index`. That's the race condition of the state between the app component and the hook. You can keep the error handling or maintain the full rows data for index reference.

[2021-09-06 13:05] dehmer commented on #244
@wellyshen Got it!
I leave it as is for now. The list model is managed two levels up in the component hierarchy and I'm reluctant to pull useVirtual() so far up.
Many thanks for your help! ❤️

[2021-09-08 18:16] dehmer opened #248 "Several issues when filtering list from long to shorter (or short to longer)"
# Bug Report

## Describe the Bug

Displaying a short list (81 entries) after a long list (830 entries) skips all but two (or a few) entries of shorter list and introduces excess free space before items displayed. `resetScroll` is enabled and  `itemCount` managed as local state.
**This only happens when first (longer) list was scrolled down for a few pages.**

## How to Reproduce

Usage:

[code]
#

[2021-09-09 01:56] wellyshen commented on #248
@dehmer I can't reproduce this issue. Waiting for the CodeSandbox.

[2021-09-09 04:48] dehmer commented on #248
@wellyshen Check!
In the existing CodeSandbox I can't reproduce it either. I'm going to try to mimic the real application as close as possible to get to the bottom of this. Hold tight until then.
Cheers, buddy!

[2021-09-09 06:04] dehmer commented on #248
Here we go! Faster than anticipated: https://codesandbox.io/s/lively-fast-5834r
The only difference I'm aware of is `React.forwardRef()` on `IndexEntry`.

Steps:
1. In 800 rows list scroll down ~1/2 of the list or more
2. Switch over to 10 rows list
3. Only the last (2) entries of 10 rows list are displayed

<img width="831" alt="Screenshot 2021-09-09 at 07 55 30" src="https://user-images.githubus

[2021-09-09 12:37] wellyshen commented on #248
@dehmer Thank you for the reproduced code, will investigate that soon. BTW, thanks for the donation of Syncpoint ❤️

[2021-09-09 16:23] dehmer commented on #248
You're welcome! We have to thank you, and don't hurry.
There is no rush on our side.

[2021-09-10 04:21] wellyshen commented on #248
@dehmer This issue should be fixed in [v0.5.2](https://github.com/wellyshen/react-cool-virtual/releases/tag/v0.5.2), thank you mate.

[2021-09-10 05:38] dehmer commented on #248
@wellyshen Looks good! Issue is gone and overshooting is no longer ocurring neither. Nice job!
Thanks for the fast response and quick fix!

[2021-09-10 05:43] dehmer commented on #248
@wellyshen Sorry, overshooting still happens. I just removed the warning. Keeping the logic to detect and handle it for the time being.

[2021-09-10 05:52] wellyshen commented on #248
@dehmer Yep, the fixing isn't related to that.

[2021-09-10 06:38] dehmer commented on #248
Now I'm seeing a few other issues (possibly related):

1. Occasionally, going from big to small list, the following error is thrown (doesn't seem to impact correctness of list)
<img width="1063" alt="Screenshot 2021-09-10 at 08 08 28" src="https://user-images.githubusercontent.com/322462/132809765-e535d93e-f6ae-4cea-a6d2-80b7b93740e2.png">
<img width="954" alt="Screenshot 2021-09-10 at 08 27 14" s

[2021-09-10 08:35] dehmer commented on #248
OK. The first error can now be reproduced in the following CodeSandbox: https://codesandbox.io/s/cocky-microservice-45702

Steps A:
1. Type 'X' in filter field -> no matches; empty list (this is expected)
2. Clear filter -> boom!

Steps B (alternative)
1. Type 'sigacts' in filter field -> 8 matches; all matches displayed
2. Clear filter by cutting text at once (i.e. not deleting individual charact

[2021-09-10 09:21] wellyshen commented on #248
@dehmer I know the root cause of the `undefined` parts that causes the app crash. Will fix them soon. Thank you!

[2021-09-10 09:45] dehmer commented on #248
Thanks a lot! Take your time!
...Although I can't wait to put useVirtual() to production 😀

[2021-09-10 09:54] wellyshen commented on #248
@dehmer The app crash and undefined `size` should be fixed in [v0.5.3](https://github.com/wellyshen/react-cool-virtual/releases/tag/v0.5.3). For the following issues, can you give me a reproduced CodeSandbox? Thank you.

2. Also occasionally (but different from 1), going from filtered to complete list, complete list is truncated to exactly the number of entries from filtered list. Getting out from

[2021-09-10 10:14] dehmer commented on #248
OK. I will verify the patch first
If the issue 2 and 3 still apply, I try to come up with an updated CodeSandbox.
This might take a few days. I'm pretty busy doing nothing.

[2021-09-10 10:16] wellyshen commented on #248
@dehmer I have noticed that the 2 and 3 still occur, will fix them soon. You can also update the CodeSandbox as well to make sure we are on the same page, thanks.

[2021-09-10 10:45] dehmer commented on #248
Yes. I slightly modified https://codesandbox.io/s/cocky-microservice-45702

Try this to reproduce issue 2:
1. filter: type '4c'
2. filter: cut '4c'
3. scroll to list bottom with cursor down key
4. filter: paste '4c'
5. filter: cut '4c'
expected: list shows some 80 entries
actual: list shows only 7 entries

[2021-09-11 14:04] wellyshen commented on #248
@dehmer Sorry for the late, these issues should be fixed in [v0.5.4](https://github.com/wellyshen/react-cool-virtual/releases/tag/v0.5.4), thank you mate.

[2021-09-12 09:46] #248 closed

[2021-09-12 10:47] dehmer commented on #248
@wellyshen Thank you!
Looks good so far. We will test extensively in the coming days.
Fingers crossed! 🤞

[2021-09-12 10:48] wellyshen commented on #248
@dehmer Thank you mate, let me know if there's an issue.

[2021-09-16 03:51] wellyshen commented on #146
Close due to inactive, plz use the latest version to see whether this issue still occurs or not.

[2021-09-16 03:51] #146 closed

[2021-10-12 21:34] blutorange opened #284 "Wrong indices passed to loadMore"
# Bug Report

First of all, this library is great and really easy to use. I was making a demo with lazy loading + filtering and I think I found a bug:

## Describe the Bug

The indices passed to `loadMore` are not always correct. For example:

* 50 items, page size 5
* Scroll down to the very bottom
* Now, the `loadMore` method receives `e.startIndex=50` and `e.stopIndex=54`.

This is wrong becaus

[2021-10-13 04:58] wellyshen commented on #284
@blutorange Thank you for giving this package a try, let me explain these issues as follows:
- For the event properties of the `loadMore`: The properties are used for indicating the next loading items if you want to get the current displaying items, please use  [onScroll](https://github.com/wellyshen/react-cool-virtual#onscroll) instead.
- For the quickly scrolling: When the user scrolls forward q

[2021-10-13 06:16] #284 closed

[2021-10-27 23:43] AndyDyer opened #306 "Removing items from a list."
The readme mentions filtering but the example doesnt really make sense. It mostly just looks like you can change how many things you wish to render.

[2021-10-28 00:59] #306 closed, assigned to nobody

[2021-11-20 22:54] ptimer opened #323 "How to use react-cool-virtual with grid css ?"
I have responsive grid layout with posts that have titles, cover images, descriptions etc.
React-cool-virtual doesn't detect position of my elements. It's behaviour like it has deal with list and set start position of elements like 0 - 200 - 400 - 600 px etc. Maybe you have some examples i've not found or ideas about such type of problem ?
P.S start property can't be changed. How then to implement

[2021-11-22 11:08] ptimer opened #324 "How to test app with react-cool-virtual ?"
I have an errors react-testing-library doesn't see content because it has not rendered yet. How to test such app ?

[2022-01-04 04:02] wellyshen commented on #324
@ptimer This library uses [ResizeObserver](https://developer.mozilla.org/en-US/docs/Web/API/ResizeObserver) under the hook, you need to [mock it](https://github.com/wellyshen/react-cool-virtual/blob/master/src/__tests__/useVirtual.tsx#L131) in your testing environment.

[2022-01-04 04:08] wellyshen commented on #323
@ptimer This library is designed for using a one-dimension way. You can turn your styles into that way.

[2022-01-04 04:08] #323 closed

[2022-01-04 09:26] #324 closed

[2022-01-04 10:09] wellyshen commented on #220
Close due to #144

[2022-01-04 10:09] #220 closed

[2022-01-06 10:48] #170 closed

[2022-01-11 09:18] pleerock opened #359 "Bi-directional infinite scroll example"
Would be really helpful to have an example of infinite scroll working in both sides (up and down). I was only able to find examples to top or bottom, but not both. Use cases: chat applications.

Thank you for your hard work!

[2022-01-11 15:43] wellyshen commented on #359
@pleerock Not quite sure about the use case of your use case. Maybe you can refer to the [pre-pending items](https://github.com/wellyshen/react-cool-virtual#pre-pending-items) and [sticky to bottom](https://github.com/wellyshen/react-cool-virtual#sticking-to-bottom) examples for the chatroom.

[2022-01-12 14:30] pleerock commented on #359
I saw both examples.

It's not clear how to load items in both directions.

For example, in a real chat application you might have 1000 messages. Let's say you show only 10 messages in a time (e.g. BATCH_COMMENTS = 10). But you need to show messages starting from 800, because you have 200 unread messages. But you cannot load 200 messages when you enter the room (because of too many messages). So,

[2022-01-12 15:55] pleerock opened #361 "`requestAnimationFrame` doesn't really help with scroll jumping"
`requestAnimationFrame` practice in "Pre-pending Items" demo doesn't help a lot with scroll jumping. Yes, maybe it helps "a bit", but the lag is pretty annoying even in provided demo.

I checked how it works in real app (much more heavy than your demo) and observed lag is pretty much noticeable.
Any other ways how to prevent this lag?

[2022-01-12 15:56] pleerock commented on #359
Okay, the way I found a solution is something like this:

[code]

Please confirm if I did all right.

[2022-01-13 04:03] wellyshen commented on #359
@pleerock Yea, the `onScroll` event can help you for that.

[2022-01-13 04:03] #359 closed

[2022-01-13 04:06] wellyshen commented on #361
@pleerock You can try the following adjust:

[code]

[2022-01-13 13:06] pleerock commented on #361
From what I can see you removed `requestAnimationFrame` and added `itemSize`. I already had itemSize set to `50` before. However I'm not sure what value to set, because message can either be a single line, either half of the page (e.g. think of github issue comments).

I removed `requestAnimationFrame` but didn't feel the difference - lag still presents.

[2022-01-17 10:27] wellyshen commented on #361
@pleerock There's a [PR](https://github.com/wellyshen/react-cool-virtual/pull/368) for this issue, could you mind to help me verify it by your case first?

[2022-01-18 15:27] wellyshen commented on #361
@pleerock This issue can be solved through [v0.6.0](https://github.com/wellyshen/react-cool-virtual/releases/tag/v0.6.0)

[2022-01-20 04:08] wellyshen commented on #361
@pleerock For this issue, an optimized version will be provided soon.

[2022-01-20 10:25] wellyshen commented on #361
@pleerock Try [v0.7.0](https://github.com/wellyshen/react-cool-virtual/releases/tag/v0.7.0)

[2022-01-20 10:25] #361 closed

[2022-01-26 09:15] twoKilo opened #388 "When chrome smooth scrolling flag is enabled, the scrollToItem api is not working as expected."
# Bug Report

## Describe the Bug

When chrome smooth scrolling flag is enabled, the scrollToItem api is not working as expected.

## How to Reproduce

1. chrome://flags/#smooth-scrolling (ONLY: Windows, Linux, Chrome OS, Android)
2. toggle smooth-scrolling into Enabled
3. scrollToItem is not working

## CodeSandbox Link

## Expected Behavior

scrollToItem is working and the success callback shoul

[2022-01-26 13:46] wellyshen commented on #388
@twoKilo Can you show me the reproduced video?

[2022-01-27 10:55] twoKilo commented on #388
After setting option smooth into false, it is still not working.

[here is the reproduced video]( https://drive.google.com/file/d/1QUkbJK9PULMwm8ciLra6HB-L2JVbRV8i/view?usp=sharing)

you can see that it's not scrolled to the latest message and can only scroll the list by dragging the scrollbar.

[here is the normal behavior](https://drive.google.com/file/d/19GMZmvVX5zHvrFKFzFw_wd3lAOuoCImb/view?us

[2022-01-27 16:41] wellyshen commented on #388
@twoKilo

Sorry I don't have Windows OS in my Macbook Pro, so I need your help for debugging. Is there any error on the console tab of your Google Dev Tools?

You can delete the GIFs.

I think we'd better use English for the issue because this issue might help other people someday.

[2022-01-30 10:52] twoKilo commented on #388
@wellyshen

No, there is no error either on the console or Dev tool. I will test the functionality of `scrollTo` later, but I can't use `startItem` cause I am using version 0.5.5, and upgrading a package in my company takes some efforts... But do let me know if you want it to be verified.

Also, I've received a feedback from test team that the auto scroll feature is not working on **Sogou**  brows

[2022-01-30 10:58] wellyshen commented on #388
@twoKilo Can you upgrade to the latest version then test these methods locally? I think we can focus on Google Chrome first because Sogou is based on Chromium.

[2022-01-31 14:39] twoKilo commented on #388
@wellyshen I've upgraded to the 0.6.0 version, and tested on Windows (smooth scroll enabled), and `scrollToItem` is still not working.

I think Sogou does not share the same issue with Chrome on Windows(smooth scroll enabled). But okay, we can focus on the topic issue first. Still I hope you can look into Sogou issue anyway.

Appreciated.

[2022-01-31 14:40] wellyshen commented on #388
@twoKilo How about the 'startItem' and 'scrollTo' do them work?

[2022-02-09 05:13] twoKilo commented on #388
@wellyshen I've updated to v0.7.0, and  tested on Windows (smooth scroll enabled), `scrollToItem` and `startItem` both not working. `scrollTo` is working as expected.

[2022-02-09 12:33] wellyshen commented on #388
@twoKilo Have you enabled the `smooth: true` when using the `scrollToItem` and `scrollTo` methods?

[2022-02-10 15:58] wellyshen commented on #388
@twoKilo I have gotten a Windows laptop, will investigate this issue soon.

[2022-03-03 06:37] MaksimWeb opened #413 "OuterRef and InnerRef can`t assign to my elements"
# Bug Report

I use this library in my react project, so when i create a data list like in examples from documentation i get an error.

![изображение](https://user-images.githubusercontent.com/73286420/156509621-c85d0476-aabb-4bf0-a8b9-328336a3f6b3.png)

These components are just styled div elements. And i also tried it with casual div-tag.

I don`t know what happens and can`t find solution in the

[2022-03-04 02:46] wellyshen commented on #413
@MaksimWeb You can assign the element type of your `outerRef` / `innerRef` for the hook.

[code]

[2022-03-04 02:47] wellyshen commented on #388
@twoKilo Sorry I'm busying recently. Will investigate this issue once I have time.

[2022-03-05 02:52] agamrp opened #415 "Reverse infinity scroll with Safari / iOS flickers and jumps"
# Bug Report

## Describe the Bug

When pre-pending on a reverse list with Safari the list will jump to the top of the added data, sometimes the list will also flicker when new data is added.

This is reproducible for me on iOS/Safari (iphone and ipad) using the reverse infinite scroll example https://codesandbox.io/s/rcv-prepend-items-ui06h (mentioned in https://github.com/wellyshen/react-cool-vi

[2022-03-10 12:26] wellyshen commented on #415
@agamrp I throttle the network for demonstration. You can decrease the `setTimeout` duration to see if it meets your need.

[2022-03-20 11:37] abearief1405 commented on #146
Hai @wellyshen first things first I want to thankfull for the library.

I Had similiar issue with this. After successfull render the components, I move to other pages and back to the components,  data wont to render it's because `isItemLoadedArr[loadIndex] = true`.

So I used to `const [isItemLoadedArr, setIItemLoadedArr] = useState([]);`
create useEffect
[code]
pass `isItemLoadedArr` to `loadMore

[2022-03-27 06:41] qianjiachun opened #432 "sticking to bottom invalid without "smooth""
# Bug Report

## Describe the Bug
In my project, I accept data and render lists through **websocket**. In some cases, I don't want to use smooth, so I found this problem.
The problem occurs in concurrent network requests(maybe, i guess😂). When smooth is set to false, it cannot stick to bottom.
But when smooth is set to true, the bug disappears

## How to Reproduce

👉[CodeSandbox](https://codesandb

[2022-03-28 03:34] qianjiachun commented on #432
I found that even if smooth is set to true, [this example](https://github.com/wellyshen/react-cool-virtual#sticking-to-bottom) will fail when websocket accepts a lot of data at the same time

[2022-03-29 06:37] wellyshen commented on #432
@qianjiachun You can solve the issue by calling the `scrollToItem` after the data is fetched.

[2022-03-29 06:59] qianjiachun commented on #432
In my project, the data comes from websocket. The specific process is: websocket = > msgList = > render.
Then I use `useEffect`:
[code]

This doesn't always stay at the bottom (that is, your scroll wheel can always scroll down a little bit). Is there a problem with the code I wrote?😥

[2022-04-06 04:00] wellyshen commented on #432
@qianjiachun You can call `scrollToItem` after the state of the list items is updated. For example, wrap the `scrollToItem` by `setTimeout` is a way.

[2022-04-06 04:01] #413 closed

[2022-04-06 04:01] #415 closed

[2022-04-06 04:02] #432 closed

[2022-04-15 20:05] ROTGP opened #445 "scrollToItem doesn't work as expected when using StickyHeaders"
# Bug Report

## Describe the Bug

scrollToItem doesn't work as expected when using StickyHeaders. When scrolling to an index, and align is 'start',  it should be scrolled to the top, but still be visible underneath any 'stuck' headers. Currently, it's scrolled to the absolute top, and thus, is obscured by sticky heads.

## How to Reproduce

Create a a demo with sticky headers and try to scrollToI

[2022-04-23 06:52] wrjanan commented on #23
Hello @wellyshen,

Currently trying to implement your package in https://lunapunks.io/ :)
I love how easy it is to have a basic prototype up and running with your package.

I have a few questions, mainly if it is possible to not have an inner scroll div?
I kinda want it embedded within the site itself.

The other question has to do with grid layout, but it is cause I haven't tried the grid exposur

[2022-04-24 07:05] wellyshen commented on #445
@ROTGP Thank you, I will investigate it soon.

[2022-04-24 07:11] wellyshen commented on #23
@wrjanan Hey mate, Congrats on the awesome project. For the inner scroll div, I think what you're looking for is [window scroll](https://github.com/wellyshen/react-cool-virtual/issues/144), unfortunately, this package doesn't support that atm. For the GPU performance issue, if you find anything related to this package please let me know.

[2022-04-24 16:20] wellyshen commented on #388
@twoKilo Hey mate, sorry for the late response. I tried to reproduce this issue on Windows 11 + Chrome + smooth scrolling enabled, but I can't reproduce it. Did I miss something?

https://user-images.githubusercontent.com/21308003/164986004-cecc1c66-3cb6-4090-b7b8-f9f645621273.mov

[2022-04-26 07:49] wellyshen commented on #388
@twoKilo Feel free to re-open it if you still encounter this problem.

[2022-04-26 07:49] #388 closed

[2022-04-30 08:49] wellyshen commented on #445
@ROTGP Hey mate, I think it's the expected behavior because it's [how a sticky item works](https://developer.mozilla.org/en-US/docs/Web/CSS/position#try_it). If you want an item to be scrolled on the top without be covered by the sticky item, maybe you can try this:

[code]

[2022-04-30 08:51] #445 closed

[2022-04-30 20:40] ROTGP commented on #445
I don't really agree with you. And your approach will not work when scrolling to variable-sized rows/headers,  but thanks for your response.

[2022-05-01 08:37] wellyshen commented on #445
@ROTGP For your case, you might can dynamically disable the `position: sticky` CSS property for the sticky item via the callback of [scrollToItem](https://github.com/wellyshen/react-cool-virtual#scrolltoitem)

[2022-07-29 03:23] MinJieLiu opened #520 "Can't scroll at the end of a million data."
# Bug Report

## Describe the Bug

Can't scroll at the end of a million data.

## How to Reproduce

The position of the scroll bar cannot scroll after the position of 600,000 data

## CodeSandbox Link

Show me the bug on [CodeSandbox](https://codesandbox.io/s/rcv-fixed-size-forked-i1w5vn?file=/Row.js).

## Expected Behavior

Can use mouse to scroll

## Screenshots

![image](https://user-images.git

[2022-09-01 21:00] adampash opened #535 "Initial render at end of list"
# Option to start first render at end of the list.

## Describe the Feature

I'm looking at using `react-cool-virtual` to render a chat window. Loading my items, and then scrolling to the end of the list, is proving to be pretty messy. Among other things, you get some render flashes, sometimes jumpiness, etc.

## Describe the Solution You'd Like

It would be nice to have the option to start the ch

[2022-10-04 10:06] thomaspessato opened #544 "Are there any examples with <table> tag?"
I think this is one of the most agile virtual scrolling libraries that I've found so far. I'm trying to decide which lib I'm going to use and really wanted to use this one in my project. Is there any working examples with our dear <table> approach to create a table?

All the examples here (and inside other libraries's repos) are always focused on <div>, but most of the time the libraries won't wor

[2022-10-05 09:54] romadryud commented on #388
@wellyshen Idk if it the same, but I faced issue when `scrollBehavior: "smooth"` set to `outer` and if you have "light" data it will start lagging about on 300th element, but in work i have heavy one and I faced it from start. There [example](https://codesandbox.io/s/rcv-scroll-to-methods-forked-jzjbpf?file=/DynamicSize.js:620-644) forked from RCV examples. Of course there are no issue when we del

[2022-10-22 18:58] JMorell opened #552 "If you scroll quickly to the end of the list of items in the Infinite Scroll, it does not load the data"
# Bug Report

## Describe the Bug

If you scroll quickly to the end of the list of items in the Infinite Scroll, it does not load the data, you have to scroll a bit for it to load correctly.

## How to Reproduce

The Infinite Scroll example shows the bug.

1. Go to https://codesandbox.io/s/rcv-infinite-scroll-forked-wuov0v
2. Once the demo loads, scroll directly to the end of the first list (Skele

[2022-11-06 09:30] abdullaev388 commented on #544
you can use grid css instead of tables, and so do i.